.navMenu {
    background: white;
    border: 1px solid rgba(18, 21, 29, 0.6);
    border-radius: 10px;
    width: 9%; 
    position:absolute; 
    z-index:99;
    left: 5px;
    top: 105px;
    padding-left: 15px;
}

.titles:hover {
    color: red;
    text-align: right !important;
    background: rgb(239, 238, 238);
    cursor: pointer;
    transition: background-color .5s color 1s;
    border-radius: 10px;
}